Numpy: Numerical Computing
NumPy is the backbone of scientific computing in Python

In [1]:
#creating numpy arrays

import numpy as np

arr = np.array([1, 2, 3, 4, 5])
print(arr)  # Output: [1 2 3 4 5]

[1 2 3 4 5]

In [2]:
A = np.array([[1, 2], [3, 4]])
B = np.array([[5, 6], [7, 8]])

print(np.dot(A, B))  # Matrix multiplication

[[19 22]
 [43 50]]

In [3]:
#Fast Computation

arr = np.arange(1000000)
print(arr.sum())  # Much faster than Python lists

499999500000

Pandas â€“ Data Analysis
Pandas is used for handling structured data (CSV, Excel, SQL, JSON)

In [2]:
import pandas as pd

df = pd.read_csv("data.csv")  # Read CSV
df.to_excel("output.xlsx", index=False)  # Save to Excel

In [5]:
#Data Exploration
print(df.head())  # First 5 rows
print(df.describe())  # Summary stats

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S
       PassengerId    Survived      Pclass         Age       SibSp  \
count   418.000000  418.000000  418.000000  332.000000  418.000000
mean   1100.500000    0.363636    2.265550   30.272590    0.447368
std     120.810458    0.481622    0.841838   14.181209    0.896760
min     892.000000    0.000000    1.000000    0.170000    0.000000
25%     996.250000    0.000000    1.000000   21.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000
75%    1204.750000    1.000000    3.000000   39.000000    1.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000

            Parch        Fare
count  418.000000  417.000000
mean     0.392344   35.627188
std      0.981429   55.907576
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.500000
max      9.000000  512.329200

In [6]:
#Filtering Data
filtered_df = df[df["Age"] > 30]  # Filter rows where age > 30

In [7]:
#Handling Missing Values
df.fillna(0, inplace=True)  # Replace NaNs with 0
df.dropna(inplace=True)  # Remove rows with NaNs